header {
    background-color: #121314;
    display: flex;
    align-content: center;
    height: 45px;
}

ul {
    align-content: center;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.perfil {
    border-radius: 100%;
    width: 15vw;
    padding: 2%;
    margin: 3%;
    border: 1px solid #606060;
}

.details p {
    padding-bottom: 10px;
}

span {
    opacity: 0.2;
}

a {
    text-decoration: none;
    color: white;
}

.box {
    border: 1px solid #606060;
    background-color: #121314;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.projetos {
    padding: 15px;
}

.box1 {
    margin: 30px 0px 0px 0px;
}

.box2 {
    margin: 25px 0px 0px 0px;
    width: 34vw;
}

.verificado {
    width: 25px;
    position: relative;
    top: 6px;
    padding: 2px;
}

.icons_sobre {
    width: 25px;
    position: relative;
    top: -5px;
    padding: 10px;
}

.sobre2 {
    display: flex;
}

.sobre {
    padding: 25px 0px 25px 0px;
    width: 23vw;
    margin: auto;
    display: grid;
    border-bottom: solid 1px #606060;
}

h2 {
    padding-right: 10px;
    text-align: center;
    align-items: center;
    display: flex;
}

.sobre a {
    padding-bottom: 15px;
}

.about {
    display: flex;
    justify-content: space-between;
}

.navbar {
    display: none;
}

@media (max-width: 1200px) {}

@media (max-width: 768px) {
    .navbar {
        display: block;
    }

    .about {
        display: grid;
    }
    .box2 {
        width: 70vw;
    }
    .sobre {
        width: 60vw;
    }
    .perfil {
        width: 40vw;
        padding: 4%;
        margin: 6%;
    }
    header {
        display: none;
    }
    .baixo {
        background-color: #121314;
        display: flex;
        align-content: center;
        height: 45px;
        background-attachment: fixed;
    }

   
}

@media (max-width: 460px) {}

}